<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yonky.mynews">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name="yonky.mynews.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/myandroid"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.activity.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/MainTheme"
            android:screenOrientation="portrait"/>
        //知乎
        <activity android:name=".ui.zhihu.activity.CalendarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.zhihu.activity.ZhihuDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.zhihu.activity.ThemeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.zhihu.activity.SectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        //Gank
        <activity android:name=".ui.gank.activity.TechDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.gank.activity.GirlDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <service android:name=".component.InitializeService"/>

    </application>

</manifest>